.Main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Card-Post-Container {
  width: 700px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  margin: 10px 30px;
}

.Card-Content {
  display: flex;
  flex-direction: column;
}

.Card-Content-Header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Card-Content-Header h3 {
  padding: 0 10px 0 20px;
  right: 0;
}

.icone{
  width: 20px;
  height: 20px;
  margin: 10px;
}


.Card-Status {
  background-color: #EFEFEF;
  color: #635F5F;
  border-radius: 10px 0 0 10px;
  font-size: 1.2rem;
  width: 53px;
  padding: 0 10px;
}

.Card-Content-Body {
  padding: 0 20px;
  text-align: justify;
  height: 70%;
}

.Card-Content-Body img {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

.Card-Content-Footer {
  color: #635F5F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .Card-Post-Container {
    width: 86%;
    height: 76%;
    margin: 10px 0;
  }

  .Card-Content {
    width: 80%;
  }

  .Card-Content-Header {
    width: 80%;
  }

  .Card-Content-Body img {
    width: 95%;
    height: 65%;
    border-radius: 5px;
  }
}
