.container-about {
  width: 879px;
  height: 700px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  border-radius: 5px;
}
.main-header-about{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 15px 0 0 ;
}

.main-header-about button:hover {
  color: #FF4600;
  cursor: pointer;
}

/* Barra Lateral */
.side-bar {
  width: 115px;
  height: 100%;
  margin: 0;
  background-image: url(../images/sidebar.jpeg);
  background-size: cover;
  border-radius: 4px 0 0 5px;
}

.about-h1 {
  font-size: 2rem;
}

.main h2{
  text-align: justify;
  padding: 10px 40px;
}

.icon-about{
  width: 29px;
  height: 29px;
  margin: 10px;
}


@media only screen and (max-width: 768px) {
  .container-about {
    width: 95%;
    height: 600px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 120px;
  }

  .side-bar {
    width: 49px;
    margin: 0;
    background-image: url(../images/sidebar.jpeg);
    background-size: cover;
  }

  .main h2 {
    text-align: justify;
    padding: 0 20px;
  }

}
