.container-about {
  width: 65%;
  height: 540px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  border-radius: 5px;
}
.main-header-about{
  position: relative;
  top: 24px;
  right: -300px;
}

.main-header-about button:hover {
  color: #FF4600;
  cursor: pointer;
}

/* Barra Lateral */
.side-bar {
  width: 115px;
  height: 100%;
  margin: 0;
  background-image: url(../images/sidebar.jpeg);
  background-size: cover;
  border-radius: 4px 0 0 5px;
}

.about-h1 {
  font-size: 2rem;
}

.main h2{
  text-align: justify;
  padding: 10px 40px;
}
.btn-exit-about{
  color: #635F5F;
  border: none;
  background: none;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}

.icon-about{
  width: 29px;
  height: 29px;
  margin: 10px;
}


@media only screen and (max-width: 768px) {
  .container-about {
    width: 75%;
    height: 700px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 120px;
  }

  .side-bar {
    width: 49px;
    margin: 0;
    background-image: url(../images/sidebar.jpeg);
    background-size: cover;
  }

  .main h2 {
    text-align: justify;
    padding: 0 20px;
  }

  .main-header-about {
    position: relative;
    top: 5px;
    right: -120px;
  }

}
