.container-about {
  width: 879px;
  height: 900px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  margin: 110px 0;
  border-radius: 5px;
}
.main-header-about{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 15px 0 0 ;
}

.main-header-about button:hover {
  color: #FF4600;
  cursor: pointer;
}

.about-h1 {
  font-size: 2rem;
}

.main h2{
  text-align: justify;
  padding: 10px 40px;
}

.icon-about{
  width: 29px;
  height: 29px;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .container-about {
    width: 95%;
    height: 1300px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin: 100px 0;
  }

    .main h1 {
      font-size: 1.3rem;
      padding: 0 20px;
    }

  .main h2 {
    text-align: justify;
    padding: 0 20px;
  }

}
