.nav-global {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logo-search{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-logo {
  width: 117px;
  height: 40px;
  margin: 10px 0 0 20px;
}

.nav-login-user{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}



@media only screen and (max-width: 768px) {
  .nav-toggle{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
    padding: 0;
    align-items: center;
    list-style: none;
    color: #635F5F;
    font-size: 40px;
  }
}
