/* Botão da NavBar */

/*  Botão de pesquisa  */
.btn-search {
  width: 40px;
  height: 40px;
  margin-left: -55px;
  border: 1px;
  background: transparent;
  font-size: 1.8rem;
  color: #635F5F;
}

.btn-search:hover {
  color: #FF4600;
  cursor: pointer;
}

/* Botão login */
.btn-nav-login{
  background-color: #FF4600;
  color: #fff;
  width: 90px;
  height:40px;
  border-radius: 20px;
  border: none;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
}

.btn-nav-login:hover {
  background-color: #000000;
  color: #FF4600;
}

/* Botão user */
.btn-nav-user {
  color: #635F5F;
  background: none;
  font-size: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  margin-top: 10px;
}

.btn-nav-user:hover {
  color: #FF4600;
  cursor: pointer;
}



/* Botão user do modelo mobile */
.btn-nav-toggle {
  display: none;
}

/* Botões dos Cards (comment, share e save) */

.btn-card-actions {
  color: #635F5F;
  background: none;
  font-size: 1rem;
  border: none;
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.btn-card-actions h2 {
  padding: 0 10px;
}

.btn-card-actions:hover {
  background-color: #ff440071;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

/* Botões de like de deslike */
.btn-like{
  margin-top: 30px;
}

.btn-like-deslike {
  color: #635F5F;
  font-size: 1rem;
  border: none;
  background: none;
}

.btn-like-deslike:hover{
  color: #FF4600;
  cursor: pointer;
}

/* BOTÃO DE SAIR */
.btn-exit {
  color: #635F5F;
  border: none;
  background: none;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}

.main-header button:hover {
  color: #FF4600;
}

/* BOTÃO ENTRAR COMO */
.login-with {
  background: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  width: 40%;
  height: 30px;
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #635F5F;
  font-size: 0.8rem;
}

.login-with:hover{
  background: rgb(230, 230, 230);
}

@media only screen and (max-width: 768px) {

  /* Botão da Navbar */

/* Botão user do modelo mobile */
  .btn-nav-toggle {
    display: flex;

    align-items: center;
    color: #635F5F;
    font-size: 40px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .btn-nav-toggle:hover{
    color: #FF4600;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-nav-user {
    display: none;
  }

  .btn-nav-login {
    display: none;
  }

  /* Botões dos Cards (comment, share e save) */
  .btn-card-actions {
    margin: 10px 5px;
    font-size: 0.8rem;
  }

  /* Botões entrar como */
  .login-with {
    width: 250px;
  }
}
