.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #1C2128;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #635F5F;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

h2{
  color: #635F5F;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

h3 {
  color: #635F5F;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
}
